<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exampy</title>
    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/styles.css">

    <!--JQuery cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1 class="text-center text-primary">Exampy Backend Section</h1>
    <div class="container-fluid">
        <form onsubmit="handleSubmit()" style="background-color: rgb(0, 68, 68);" class="form-control">
            <label style="color: whitesmoke;" for="maths">Mathematics</label>
            <input required class="form-control" type="file" >
            <div class="row" style="padding: 20px;">
                <button  type="submit" class="btn btn-warning">SUBMIT</button>
            </div>
        </form>
        <br>
        <h1 id="success" class="text-center text-success">Submitted Successfully</h1>
    </div>
</body>
<script src="/index.js"></script>
</html>

